@import url("/stylesheets/libs/bootstrap.css");
@import url("/stylesheets/libs/font-awesome.css");
@import url("/stylesheets/libs/reset.css");
/* Navbar
-------------------------------------------------------------- */


        .header-inner {
            max-width: 1920px;
            display: flex;

            .logo {
                @extend .nav-wrap;
                margin-top: 16px;
                padding: 5px 0px 0px 155px;
                margin-bottom: 16px;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .container {
                margin: 17px 16px;

                .nav-wrap {
                    float: left;
                    margin-top: 16px;
                    padding: 0 700px 0 30px;
                    margin-bottom: 16px;

                    .menu {
                        display: flex;

                        li {
                            padding: 0 45px 0 0px;
                            text-decoration: none;

                            a {
                                display: flex;
                                font-size: 20px;
                                color: #23233f;
                                font-weight: 400;
                                line-height: 30px;
                                align-items: center;
                                
                            }
                        }
                    }
                }
            }
        }
