@import url("../libs/bootstrap.css");
@import url("../libs/font-awesome.css");
@import url("../libs/reset.css");
/* Navbar
-------------------------------------------------------------- */


.header-inner {
    margin-left: -180px;
    max-width: 1920px;
    display: flex;
    position: absolute;
    z-index: 999;
    .logo {
        @extend .nav-wrap;
        margin-top: 16px;
        padding: 5px 0px 0px 155px;
        margin-bottom: 16px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    // .container {
    //     margin: 17px 16px;

    .nav-wrap {
        float: left;
        margin: 30px 60px 22px 0;
        padding: 0;
        display: flex;
        align-items: center;

        .menu {
            display: flex;

            li {
                padding: 0 45px 0 0px;
                text-decoration: none;

                a {
                    display: flex;
                    font-size: 20px;
                    color: #23233f;
                    font-weight: 400;
                    line-height: 30px;
                    align-items: center;

                }
                
            }
        }
    }

    // }
}

/* scroll--------------------------------------*/
// .tf-scroll {
//     position: absolute;
//     display: flex;
//     transform: rotate(270deg);
//     padding-bottom: 180px;

//     .scroll-text {
//         font-size: 20px;
//         line-height: 32px;
//         color: #f98125;
//         font-weight: 400;
//         letter-spacing: 18px;
//         margin-left: 30px;
//         display: flex;
//         align-items: center;
//         cursor: pointer;

//     }

//     .arrow-long {
//         transform: rotate(90deg);
//         cursor: pointer;
//     }
// }