/**
  * Name: Polio
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import url("/stylesheets/libs/bootstrap.css");
@import url("/stylesheets/libs/font-awesome.css");
@import url("/stylesheets/libs/reset.css");
@import url("/stylesheets/views/responsive.css");
@import url("/stylesheets/views/blog.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;400;500;700;800&display=swap");
/**
  * Reset
  * Repeatable Patterns    
  *	Header 
  *	Page Title
  * Blog
  * Blog v.1
  * Blog Single  
  * Widgets  
  * widget search
  * widget latest posts
  * widget tag
  * flat-socials 
  * Switcher
  * GoTop Button
  * Footer
  * Footer widget  
  * Bottom
  * Parallax
  * Boxed
  * Revolution Slider  
*/
/* Header
-------------------------------------------------------------- */
.header-sticky .container-fluid {
  height: 342px;
}
.header-sticky .container-fluid .page-title {
  background-image: url(../images/blog/background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  height: 342px;
  width: 100%;
}
.header-sticky .container-fluid .page-title .container .row {
  padding: 178px 0 0 0;
}
.header-sticky .container-fluid .page-title .container .row .page-title-heading .title {
  padding-left: 28px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs {
  line-height: 32px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul a {
  color: #23233f;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul a span {
  padding-right: 5px;
}

/* main-content--------------------------------------------*/
.main-content {
  margin-top: 120px;
  padding-bottom: 90px;
}
.main-content .container .row .col-md-8 .post-wrap {
  width: 100%;
  padding-left: 20px;
}
.main-content .container .row .col-md-8 .post-wrap .entry {
  padding-bottom: 134px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post {
  padding-top: 21px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .tf-category {
  color: #0656aa;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-title {
  margin-bottom: 15px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-title a {
  color: #23233f;
  font-size: 36px;
  line-height: 32px;
  font-weight: 700;
  padding-left: 40px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #23233f;
  padding-left: 40px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-top: 25px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .more-link a {
  color: #23233f;
  font-size: 18px;
  line-height: 32px;
  padding-right: 100px;
  text-decoration: underline;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .more-link a span {
  padding-left: 10px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .more-link .icon-arrow-right2 {
  color: #23233f;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .post-date {
  padding-left: 390px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .post-date p {
  padding-left: 5px;
  font-size: 18px;
  line-height: 32px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination {
  margin-top: -4px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination {
  padding-left: 10px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination li {
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  padding-right: 14px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination li a {
  color: #23233f;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span {
  margin-left: -10px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span .tf-first {
  padding-right: 3px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span li {
  padding-right: 8px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span .tf-last {
  padding-right: 3px;
}
.main-content .container .row .col-md-8 .sidebar {
  margin-left: 40px;
  margin-right: -40px;
}
.main-content .container .row .col-md-4 .sidebar {
  padding-left: 40px;
}
.main-content .container .row .col-md-4 .sidebar .widget-title {
  border-bottom: 2px solid gray;
  display: inline-block;
  padding-top: 21px;
}
.main-content .container .row .col-md-4 .sidebar .widget-title h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #23233f;
  margin: 0 0 0;
}
.main-content .container .row .col-md-4 .sidebar .side-post {
  padding-top: 40px;
  padding-bottom: 85px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li {
  display: flex;
  padding-bottom: 27px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post {
  padding-left: 0px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post .title-post {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #23233f;
  max-width: 234px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post .read-more-post {
  padding-top: 8px;
  cursor: pointer;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post .read-more-post h5 p {
  display: inline-block;
  border-bottom: 1px solid #698cc1;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0656aa;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .thumb {
  padding-left: 35px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-latest-videos {
  display: flex;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-latest-videos h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 15px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .bg-videos {
  padding-top: 8px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos {
  padding-top: 7px;
  margin-left: -5px;
  padding-bottom: 17px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .title-videos {
  padding-bottom: 4px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .title-videos p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .date-videos p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #8e8a8a;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .side-subscribe {
  display: flex;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .side-subscribe .subscribe {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #23233f;
  padding-top: 125px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .side-subscribe .logo-subscribe {
  padding-top: 123px;
  padding-left: 12px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .title-subscribe {
  padding-top: 15px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .title-subscribe p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0454a8;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 13px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .form-subscribe {
  display: flex;
  padding-top: 35px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .form-subscribe input {
  width: 200px;
  height: 42px;
  border-radius: 30px 0px 0px 30px;
  border-color: #eaeaea;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .form-subscribe button {
  border-radius: 0 20px 20px 0;
  border-color: #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ff2635;
  color: #ffffff;
}
.main-content .container .row .col-md-4 .side-ig .instagram {
  display: flex;
  padding-top: 158px;
  margin-left: -4px;
}
.main-content .container .row .col-md-4 .side-ig .instagram .title-instagram {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #fb3958;
  text-transform: uppercase;
  padding-left: 15px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img {
  padding-top: 20px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top {
  display: flex;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top .ig1 {
  padding-right: 7px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top div {
  display: grid;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top div .ig2 {
  padding-bottom: 10px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-bot {
  display: flex;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-bot img {
  padding-right: 10px;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */