/**
  * Name: Polio
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import url("/stylesheets/libs/bootstrap.css");
@import url("/stylesheets/libs/font-awesome.css");
@import url("/stylesheets/libs/reset.css");
@import url("/stylesheets/views/responsive.css");
@import url("/stylesheets/views/blog.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;400;500;700;800&display=swap');


/**
  * Reset
  * Repeatable Patterns    
  *	Header 
  *	Page Title
  * Blog
  * Blog v.1
  * Blog Single  
  * Widgets  
  * widget search
  * widget latest posts
  * widget tag
  * flat-socials 
  * Switcher
  * GoTop Button
  * Footer
  * Footer widget  
  * Bottom
  * Parallax
  * Boxed
  * Revolution Slider  
*/
// ========Blog Page=============================================

/* Header
-------------------------------------------------------------- */

.header-sticky {
    .container-fluid {
        height: 342px;
        .page-title {
            background-image: url(../images/blog/background-header.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0px;
            height: 342px;
            width: 100%;

            .container {
                .row {
                    padding: 178px 0 0 0;

                    .page-title-heading {
                        .title {
                            padding-left: 28px;
                            text-transform: uppercase;
                            margin-bottom: 3px;
                        }
                    }

                    .breadcrumbs {
                        line-height: 32px;

                        ul {
                            display: flex;
                            font-size: 20px;
                            font-weight: 400;
                            padding-left: 30px;

                            a {
                                color: #23233f;

                                span {
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* main-content--------------------------------------------*/
.main-content {
    margin-top: 120px;
    padding-bottom: 90px;

    .container {
        .row {
            .col-md-8 {
                .post-wrap {
                    width: 100%;
                    padding-left: 20px;

                    .entry {
                        padding-bottom: 134px;

                        .main-post {
                            padding-top: 21px;

                            .tf-category {
                                color: #0656aa;
                                font-size: 18px;
                                line-height: 32px;
                                font-weight: 400;
                                text-transform: uppercase;
                                padding-left: 40px;
                                margin-bottom: 10px;
                                cursor: pointer;
                            }

                            .entry-title {
                                margin-bottom: 15px;

                                a {
                                    color: #23233f;
                                    font-size: 36px;
                                    line-height: 32px;
                                    font-weight: 700;
                                    padding-left: 40px;

                                }
                            }

                            .entry-content {
                                p {
                                    font-size: 20px;
                                    line-height: 32px;
                                    font-weight: 400;
                                    color: #23233f;
                                    padding-left: 40px;
                                }

                                .tf-archive {
                                    display: flex;
                                    align-items: center;
                                    padding-left: 40px;
                                    padding-top: 25px;

                                    .more-link {
                                        a {
                                            color: #23233f;
                                            font-size: 18px;
                                            line-height: 32px;
                                            padding-right: 100px;
                                            text-decoration: underline;

                                            span {
                                                padding-left: 10px;
                                            }
                                        }

                                        .icon-arrow-right2 {
                                            color: #23233f;
                                        }
                                    }

                                    .post-date {
                                        padding-left: 390px;

                                        p {
                                            padding-left: 5px;
                                            font-size: 18px;
                                            line-height: 32px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .blog-pagination {
                        margin-top: -4px;

                        .flat-pagination {
                            padding-left: 10px;

                            li {
                                font-size: 20px;
                                line-height: 24px;
                                display: inline-block;
                                padding-right: 14px;

                                a {
                                    color: #23233f;
                                }
                            }

                            span {
                                margin-left: -10px;

                                .tf-first {
                                    padding-right: 3px;
                                }

                                li {
                                    padding-right: 8px;
                                }

                                .tf-last {
                                    padding-right: 3px;
                                }
                            }
                        }
                    }
                }

                .sidebar {
                    margin-left: 40px;
                    margin-right: -40px;
                }
            }

            .col-md-4 {
                .sidebar {
                    padding-left: 40px;

                    .widget-title {
                        border-bottom: 2px solid gray;
                        display: inline-block;
                        padding-top: 21px;
                        // padding-left: 5px;

                        h5 {
                            font-size: 24px;
                            line-height: 32px;
                            font-weight: 500;
                            color: #23233f;
                            margin: 0 0 0;
                        }
                    }

                    .side-post {
                        padding-top: 40px;
                        padding-bottom: 85px;

                        li {
                            display: flex;
                            padding-bottom: 27px;

                            .info-post {
                                padding-left: 0px;

                                .title-post {
                                    font-size: 20px;
                                    line-height: 28px;
                                    font-weight: 500;
                                    color: #23233f;
                                    max-width: 234px;

                                    p {}
                                }

                                .read-more-post {
                                    padding-top: 8px;
                                    cursor: pointer;

                                    h5 {
                                        p {
                                            display: inline-block;
                                            border-bottom: 1px solid #698cc1;
                                            font-size: 18px;
                                            line-height: 28px;
                                            font-weight: 400;
                                            color: #0656aa;
                                        }
                                    }
                                }
                            }

                            .thumb {
                                padding-left: 35px;
                            }
                        }
                    }

                    .side-videos {

                        .side-latest-videos {
                            display: flex;

                            .logo-video {}

                            h4 {
                                font-size: 24px;
                                line-height: 24px;
                                font-weight: 500;
                                padding-left: 15px;
                            }
                        }

                        .side-post-videos {
                            .bg-videos {
                                padding-top: 8px;
                            }

                            .info-videos {
                                padding-top: 7px;
                                margin-left: -5px;
                                padding-bottom: 17px;

                                .title-videos {
                                    padding-bottom: 4px;

                                    p {
                                        font-size: 20px;
                                        line-height: 24px;
                                        font-weight: 500;
                                        color: #333333;

                                    }
                                }

                                .date-videos {
                                    p {
                                        font-size: 18px;
                                        line-height: 26px;
                                        font-weight: 400;
                                        color: #8e8a8a;
                                    }
                                }
                            }
                        }
                    }

                    .side-subs {
                        .side-subscribe {
                            display: flex;

                            .subscribe {
                                font-size: 24px;
                                line-height: 24px;
                                font-weight: 500;
                                color: #23233f;
                                padding-top: 125px;
                            }

                            .logo-subscribe {
                                padding-top: 123px;
                                padding-left: 12px;
                            }
                        }

                        .title-subscribe {
                            padding-top: 15px;
                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                color: #0454a8;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding-top: 13px;
                            }
                        }

                        .form-subscribe {
                            display: flex;
                            padding-top: 35px;
                            input{
                                width: 200px;
                                height: 42px;
                                border-radius: 30px 0px 0px 30px;
                                border-color: #eaeaea;
                            }
                            button{
                                border-radius: 0 20px 20px 0;
                                border-color: #eaeaea;
                                font-size: 13px;
                                line-height: 24px;
                                font-weight: 400;
                                background-color: #ff2635;
                                color: #ffffff;
                            }

                        }
                    }
                }
                .side-ig{
                    .instagram{
                        display: flex;
                        padding-top: 158px;
                        margin-left: -4px;
                        .title-instagram{
                            font-family: 'Montserrat', sans-serif;
                            font-size:16px ;
                            line-height: 30px;
                            font-weight: 700;
                            color:#fb3958;
                            text-transform: uppercase;
                            padding-left: 15px;
                        }
                    }
                    .side-instagram-img{
                        padding-top: 20px;
                        .album-instagram-top{
                            display: flex;
                            .ig1{
                                padding-right: 7px;
                            }
                            div{
                                display: grid;
                                .ig2{
                                    padding-bottom: 10px;
                                }
                            }
                        }
                        .album-instagram-bot{
                            display: flex;
                            img{
                                padding-right: 10px;
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
