/**
  * Name: Polio
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import url("./libs/bootstrap.css");
@import url("./libs/font-awesome.css");
@import url("./libs/reset.css");
@import url("./views/responsive.css");
@import url("./views/blog.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;400;500;700;800&display=swap");
/**
  * Reset
  * Repeatable Patterns    
  *	Header 
  *	Page Title
  * Blog
  * Blog v.1
  * Blog Single  
  * Widgets  
  * widget search
  * widget latest posts
  * widget tag
  * flat-socials 
  * Switcher
  * GoTop Button
  * Footer
  * Footer widget  
  * Bottom
  * Parallax
  * Boxed
  * Revolution Slider  
*/
.header-sticky .container-fluid {
  height: 342px;
}
.header-sticky .container-fluid .page-title {
  background-image: url(../images/blog/background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  height: 342px;
  width: 100%;
}
.header-sticky .container-fluid .page-title .container .row {
  padding: 178px 0 0 0;
}
.header-sticky .container-fluid .page-title .container .row .page-title-heading .title {
  padding-left: 28px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs {
  line-height: 32px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul a {
  color: #23233f;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul a span {
  padding-right: 5px;
}

.main-content {
  margin-top: 120px;
  padding-bottom: 90px;
}
.main-content .container .row .col-md-8 .post-wrap {
  width: 100%;
  padding-left: 20px;
}
.main-content .container .row .col-md-8 .post-wrap .entry {
  padding-bottom: 134px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post {
  padding-top: 21px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .tf-category {
  color: #0656aa;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-title {
  margin-bottom: 15px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-title a {
  color: #23233f;
  font-size: 36px;
  line-height: 32px;
  font-weight: 700;
  padding-left: 40px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #23233f;
  padding-left: 40px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-top: 25px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .more-link a {
  color: #23233f;
  font-size: 18px;
  line-height: 32px;
  padding-right: 100px;
  text-decoration: underline;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .more-link a span {
  padding-left: 10px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .more-link .icon-arrow-right2 {
  color: #23233f;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .post-date {
  padding-left: 390px;
}
.main-content .container .row .col-md-8 .post-wrap .entry .main-post .entry-content .tf-archive .post-date p {
  padding-left: 5px;
  font-size: 18px;
  line-height: 32px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination {
  margin-top: -4px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination {
  padding-left: 10px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination li {
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  padding-right: 14px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination li a {
  color: #23233f;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span {
  margin-left: -10px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span .tf-first {
  padding-right: 3px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span li {
  padding-right: 8px;
}
.main-content .container .row .col-md-8 .post-wrap .blog-pagination .flat-pagination span .tf-last {
  padding-right: 3px;
}
.main-content .container .row .col-md-8 .sidebar {
  margin-left: 40px;
  margin-right: -40px;
}
.main-content .container .row .col-md-4 .sidebar {
  padding-left: 40px;
}
.main-content .container .row .col-md-4 .sidebar .widget-title {
  border-bottom: 2px solid gray;
  display: inline-block;
  padding-top: 21px;
}
.main-content .container .row .col-md-4 .sidebar .widget-title h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #23233f;
  margin: 0 0 0;
}
.main-content .container .row .col-md-4 .sidebar .side-post {
  padding-top: 40px;
  padding-bottom: 85px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li {
  display: flex;
  padding-bottom: 27px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post {
  padding-left: 0px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post .title-post {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #23233f;
  max-width: 234px;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post .read-more-post {
  padding-top: 8px;
  cursor: pointer;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .info-post .read-more-post h5 p {
  display: inline-block;
  border-bottom: 1px solid #698cc1;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0656aa;
}
.main-content .container .row .col-md-4 .sidebar .side-post li .thumb {
  padding-left: 35px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-latest-videos {
  display: flex;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-latest-videos h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 15px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .bg-videos {
  padding-top: 8px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos {
  padding-top: 7px;
  margin-left: -5px;
  padding-bottom: 17px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .title-videos {
  padding-bottom: 4px;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .title-videos p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}
.main-content .container .row .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .date-videos p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #8e8a8a;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .side-subscribe {
  display: flex;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .side-subscribe .subscribe {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #23233f;
  padding-top: 125px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .side-subscribe .logo-subscribe {
  padding-top: 123px;
  padding-left: 12px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .title-subscribe {
  padding-top: 15px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .title-subscribe p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0454a8;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 13px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .form-subscribe {
  display: flex;
  padding-top: 35px;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .form-subscribe input {
  width: 200px;
  height: 42px;
  border-radius: 30px 0px 0px 30px;
  border-color: #eaeaea;
}
.main-content .container .row .col-md-4 .sidebar .side-subs .form-subscribe button {
  border-radius: 0 20px 20px 0;
  border-color: #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ff2635;
  color: #ffffff;
}
.main-content .container .row .col-md-4 .side-ig .instagram {
  display: flex;
  padding-top: 158px;
  margin-left: -4px;
}
.main-content .container .row .col-md-4 .side-ig .instagram .title-instagram {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #fb3958;
  text-transform: uppercase;
  padding-left: 15px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img {
  padding-top: 20px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top {
  display: flex;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top .ig1 {
  padding-right: 7px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top div {
  display: grid;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-top div .ig2 {
  padding-bottom: 10px;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-bot {
  display: flex;
}
.main-content .container .row .col-md-4 .side-ig .side-instagram-img .album-instagram-bot img {
  padding-right: 10px;
  padding-top: 10px;
}

.Portfolio .home-page {
  margin-left: -300px;
  padding-bottom: 600px;
}
.Portfolio .home-page .bg-home {
  background-image: url(../images/blog/background_portfolio1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  height: 900px;
  width: 1700px;
}
.Portfolio .home-page .bg-home .tf-home-left {
  padding-right: 60px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading {
  display: flex;
  padding-top: 293px;
  padding-left: 180px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading .title {
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #f98125;
  font-weight: 400;
  margin-bottom: 0;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading .tf-social-icons {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading .tf-social-icons img {
  padding-right: 18px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-intro {
  padding-left: 180px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-intro h1 {
  font-size: 90px;
  line-height: 80px;
  font-weight: 700;
  color: #273857;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-intro span {
  color: #f98125;
  font-family: "DM Sans", sans-serif;
}
.Portfolio .home-page .bg-home .tf-home-left p {
  padding-left: 180px;
  padding-top: 2px;
  font-size: 20px;
  line-height: 32px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home {
  padding-top: 85px;
  padding-left: 180px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home .btn-effect {
  font-size: 20px;
  background-color: #f98125;
  padding: 20px 36px;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home .btn-check {
  font-size: 20px;
  color: #f98125;
  padding: 20px 40px;
  text-decoration: underline;
  font-weight: 400;
  line-height: 32px;
}
.Portfolio .home-page .bg-home .tf-home-right {
  position: relative;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .tf-bg-logo {
  padding-top: 335px;
  padding-left: 95px;
  position: absolute;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .tf-bg-avatar {
  position: absolute;
  padding-left: 170px;
  padding-top: 180px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects {
  position: absolute;
  background-color: #ffffff;
  margin-top: 525px;
  margin-left: 50px;
  padding: 21px 55px 21px 25px;
  border-radius: 10px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects div {
  display: flex;
  padding-bottom: 6px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects div img {
  width: 100%;
  height: 100%;
  padding-right: 5px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects div h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ff2e59;
  margin: 0;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects p {
  font-size: 15px;
  line-height: 22px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience {
  position: absolute;
  background-color: #ffffff;
  margin-top: 388px;
  margin-left: 450px;
  padding: 15px 15px 15px 22px;
  border-radius: 10px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience div {
  display: flex;
  padding-bottom: 6px;
  justify-content: center;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience div img {
  padding-right: 5px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience div h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #5ce1e6;
  margin: 0;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience p {
  font-size: 15px;
  line-height: 22px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients {
  position: absolute;
  background-color: #ffffff;
  margin-top: 605px;
  margin-left: 416px;
  padding: 17px 27px 17px 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients img {
  padding-right: 5px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fda53e;
  margin: 0;
  padding-right: 11px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients p {
  font-size: 15px;
  line-height: 22px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .footer {
  margin-top: 500px;
}/*# sourceMappingURL=style.css.map */